/mavenprojecttest2/target/
/myapp/nbproject/private/
/myapp/build/
/myapp/dist/
/WebApplicationAppApi/nbproject/private/
/WebApplicationApp/nbproject/private/
/WebApplicationApp/dist/
/WebApplicationApp/build/
/WebApplication1/nbproject/private/
/WebApplicationService1/nbproject/private/
/WebApplicationService1/build/
/WebApplicationService1/dist/
