/mavenprojecttest2/target/
/myapp/nbproject/private/
/myapp/build/
/myapp/dist/
/WebApplicationAppApi/nbproject/private/
/WebApplicationApp/nbproject/private/
/WebApplicationApp/dist/
/WebApplicationApp/build/
/WebApplication1/nbproject/private/
/WebApplicationService1/nbproject/private/
/WebApplicationService1/build/
/WebApplicationService1/dist/
/WebApplicationProjectVersion2/nbproject/private/
/WebApplicationProjectVersion2/build/
/WebApplicationProjectVersion2/dist/
/WSAppStudent/nbproject/private/
/StudentWS/nbproject/private/
/StudentWSProject/nbproject/private/
/StudentWSProject/build/
/StudentWSProject/dist/
/WSStudentProject/nbproject/private/
/WSStudentProject/build/
/WSStudentProject/dist/
/WCStudentProject/target/
/WSLibrary/nbproject/private/
/WSLibrary/build/
/WSLibrary/dist/
/WSLibrary2/nbproject/private/
/WSLibrary2/build/
/WSLibrary2/dist/
/WSLibrary3/nbproject/private/
/WSLibrary3/dist/
/WSLibrary3/build/
/WSLibrary21/nbproject/private/
/WSLibrary21/dist/
/WSLibrary21/build/
/WSLibrary22/nbproject/private/
/WSLibrary22/build/
/WSLibrary22/dist/
/WSLibrary23/nbproject/private/
/WSLibrary24/nbproject/private/
/WSLibrary23/build/
/WSLibrary23/dist/
/WSAppLibrary/nbproject/private/
/WSAppLibrary/build/
/WSAppLibrary/dist/
/WCLibrary/nbproject/private/
/WCLibrary/build/
/WSStudentPractice/nbproject/private/
/WSStudentPractice/build/
/WSStudentPractice/dist/
/WSStudentPractice2/nbproject/private/
/WSStudentPractice2/build/
/WSStudentPractice2/dist/
/WCStudentPractice2/nbproject/private/
/WCStudentPractice2/build/
/tainhanhkxoa-main/WebServicePractice/build/
/tainhanhkxoa-main/WebServicePractice/nbproject/private/