/mavenprojecttest2/target/
/myapp/nbproject/private/
/myapp/build/
/myapp/dist/
/WebApplicationAppApi/nbproject/private/
/WebApplicationApp/nbproject/private/
/WebApplicationApp/dist/
/WebApplicationApp/build/
/WebApplication1/nbproject/private/
/WebApplicationService1/nbproject/private/
/WebApplicationService1/build/
/WebApplicationService1/dist/
/WebApplicationProjectVersion2/nbproject/private/
/WebApplicationProjectVersion2/build/
/WebApplicationProjectVersion2/dist/
/WSAppStudent/nbproject/private/
/StudentWS/nbproject/private/
/StudentWSProject/nbproject/private/
/StudentWSProject/build/
/StudentWSProject/dist/
/WSStudentProject/nbproject/private/
/WSStudentProject/build/
/WSStudentProject/dist/
/WCStudentProject/target/
/WSLibrary/nbproject/private/
/WSLibrary/build/
/WSLibrary/dist/
